
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    height: auto;
    

}
h2{
    font-size: 2rem;
    font-weight: 2000;
    padding-top:1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.form-meme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
    margin-bottom: 17px;
    width: 100%;
    margin-top: 2rem;
}

input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    text-indent: 5px;
    width: 25vw;
    height: 50px;
    text-align: center;
    margin: 1rem;
    margin: -2rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid #555;;
    border-radius: 5px;
    color: rgb(59, 59, 59);
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}
input::placeholder { 
    color: black;
    opacity: 0.4; 
  }

.form--button {
    width: 25vw;
    height: 70px;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: #ededed;
    color: rgb(183, 183, 183);
    border: 0px solid black;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 50px;
    transition: ease 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5) inset;
    margin-bottom: -55px;
    
}
.form--button:hover{
    
    font-size: 2.1rem;
    padding: 13px 45px;
    color: #555;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) inset;

}

.select-image-button{
    width: 25vw;
    height: 70px;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: #ededed;
    color: rgb(183, 183, 183);
    border: 0px solid black;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
    transition: ease 0.5s;
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5) inset;
    
}
.select-image-button:hover{
    
    font-size: 2.1rem;
    
    color: #555;
    background-color: white;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0) inset;

}

.form-meme p{
    margin-top: -15px;
    color:#959595;
}


.meme {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 35px 8px rgba(0,0,0,0.5) inset;
    padding: 5px;
    background-color: #D5D4D8;
    border-radius: 5px;

}

.meme--image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 3px;
    margin: 5px;
}

.meme--text {
    position: absolute;
    /* width: 80%;
   
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    top: 500;
    left: 250;*/
    width: 325px;
    height: 200px;
    word-break: break-word;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    cursor:grab;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}


.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
.image-gallery{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,0.5);

}
.image-gallery-none{
    display: none;
}
.images-display{
    position: absolute;
    width: 80vw;
    height: 75vh;
    
    top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow: scroll;
    border: 5px solid #f1f1f1;
    border-radius: 5px;
    background-color:#f1f1f1;
    z-index: 20;
    opacity: 1;
    transition: opacity 400ms;
    scrollbar-width: none; 
}
    /* width */
    .images-display::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .images-display::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .images-display::-webkit-scrollbar-thumb {
    background: #555;
  }
  
  /* Handle on hover */
  .images-display::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .images-display::-webkit-scrollbar:horizontal {
    display: none;
  }
    

.image-display-none{
    display: none;
    opacity: 0;
  
}

.images-display img{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    
}
.display-background{
    position: absolute;
    width:100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1;
}
.display-background-none{
    display: none;
}

.button-close-images{
    position:fixed;
    bottom: 10rem;
    height: 4rem;
    width: 25%;
    z-index: 30;
   border-radius: 15px;
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;
    transition: ease 0.5s;
}
.button-close-images:hover{
    background-color: #000;
}