
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    width: 80%;
    height: auto;
    

}
h2{
    font-size: 2rem;
    font-weight: 2000;
    padding-top:1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}

.form-meme {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 17px;
    margin-bottom: 17px;
    width: 100%;
}

input {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}

.form--button {
   
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background-color: #711F8D;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 2rem;
    font-family: "Karla", sans-serif;
    font-weight: bold;
    padding: 15px 50px;
    transition: ease 0.5s;
    
}
.form--button:hover{
    background-color: #A818DA;
    transform: translate(-5px, -10px);
    box-shadow: 5px 10px rgba(0,0,0,0.2);

}

.select-image-button{
    width: 25vw;
    height: 50px;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

input{
    width: 25vw;
    height: 50px;
    text-align: center;
    margin: 1rem;
    margin: -2rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    border: 3px solid lightcoral;
    border-radius: 5px;
    color: lightcoral;
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
}



.meme {
    position: relative;
    overflow: hidden;
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px 3px #000 inset;
    padding: 5px;

}

.meme--image {
    max-width: auto;
    max-height: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    /* width: 80%;
   
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    top: 500;
    left: 250;*/
    width: 325px;
    height: 200px;
    word-break: break-word;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    cursor:grab;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}


.bottom {
    bottom: 0;
}

.top {
    top: 0;
}
.image-gallery{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgba(0,0,0,0.5);

}
.image-gallery-none{
    display: none;
}
.images-display{
    position: absolute;
    width: 60vw;
    height: 70vh;
    
    top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    overflow: scroll;
    border: 5px solid rgba(0,250,250,0.5);
    border-radius: 5px;
    background-color: rgba(0,250,250,0.5);
    z-index: 20;
    opacity: 1;
    transition: opacity 400ms;
}
    /* width */
    .images-display::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .images-display::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .images-display::-webkit-scrollbar-thumb {
    background: rgba(0,250,250,0.5);
  }
  
  /* Handle on hover */
  .images-display::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
    
    

.image-display-none{
    display: none;
    opacity: 0;
  
}

.images-display img{
    width: 100%;
    height: auto;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    
}
.display-background{
    position: absolute;
    width:100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    top: 0;
    left: 0;
    z-index: 1;
}
.display-background-none{
    display: none;
}

.button-close-images{
    position:fixed;
    bottom: 13rem;
    height: 4rem;
    width: 25%;
    z-index: 3;
   border-radius: 25px;
    font-size: 2.5rem;
    color: white;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;
    transition: ease 0.5s;
}
.button-close-images:hover{
    background-color: #000;
}